/* --------------------------------------
-- Remove Margin and Padding from Body --
-----------------------------------------
*/
body, html{
  margin: 0;
  padding: 0;
  background-color: #000;
}

/* -------------------------------------
-- Body Text Styling -------------------
----------------------------------------
*/
p{
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 1.6rem;
  color: #121c24;
  padding: 0 25px;
  margin-left:10%;
  margin-right:10%;
}

/* -------------------------------------
-- Headline styling, h1-h4 -------------
-- Ordered by Size ---------------------
----------------------------------------
*/
h1{
  font-family: 'Lobster', cursive;
  font-size: 6rem;
  color: #f1f1f1;
  text-shadow: 1px 1px 10px #121c24;
  margin:0;
  padding:0;
}

h2{
  font-family: 'Lobster', cursive;
  color: #213d54;
  text-shadow: 2px 2px 2px #3f5e78;
  text-align: center;
  margin: auto;
  font-size: 5rem;
  padding:10px;
}

h3{
  font-family: 'Lobster', cursive;
  font-size: 3.5rem;
  color: #213d54;
  text-shadow: 1px 1px 2px #3f5e78;
  margin-top: 100px;
  padding: 0 25px;
  margin-left: 10%;
  margin-right: 10%;
  border-left: 2px solid #121c24;
}

h4{
  font-family: 'Lobster', cursive;
  font-size: 2.5rem;
  color: #213d54;
  text-shadow: 2px 2px 2px #3f5e78;
  text-align: center;
  margin: auto;
  padding: 10;
}

/* -------------------------------------
-- Pointer Cursor for Links ------------
----------------------------------------
*/
a{
  cursor: pointer;
  text-decoration: none;
  display: flex;

}

/* -------------------------------------
-- Base Img Styling --------------------
----------------------------------------
*/
img{
  width: calc(30% - 2px);
  float: left;
  margin: 1.66%;
  border:1px solid #192530;
}

/* -------------------------------------
-- Remove Dots from Ul Tag -------------
----------------------------------------
*/
ul{
  list-style-type: none;
}

/* -------------------------------------
-- HR Styling --------------------------
----------------------------------------
*/
hr{
  width: 80%;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

/* -------------------------------------
-- Header Styling ----------------------
----------------------------------------
*/
.header{
  width:100%;
  height: 76px;
  z-index: 500;
  background-color: #121c24;
  align-items: center;
  position: fixed;
  border-bottom: 2px solid #192530;
}

/* -------------------------------------
-- Logo/Logo ContainerStyling ----------
----------------------------------------
*/
.logo{
  margin-left: 15px;
  display: flex;
  padding: 0 5px;
  transition: .2s;
  animation: fadein .3s;
}

.logo img{
  margin: 5px;
  width: 50px;
  height: 50px;
  padding-top: 5px;
  border-radius: 50%;
  border: 1px solid #192530;
  background-color: #111921;
}

.logo h2{
  padding-left: 5px;
  font-size: 2.5rem;
  color: #f1f1f1;
  text-shadow: 1px 1px 5px #111921;
  border-bottom:none;
}

.logo:hover{
  background:#213d54; 
  border: 0 2px solid #192530;
}

/* -------------------------------------
-- Body Container Styling --------------
----------------------------------------
*/
.body{
  display: flex;
  flex-direction: column;
}

/* -------------------------------------
-- Banner Styling ----------------------
----------------------------------------
*/
.banner{
  background: url('../img/banner.jpg') no-repeat;
  background-size: cover;
  background-position:center;
  overflow-x: hidden;
  width: 100%;
  height:100vh;
  border-bottom: 2px solid #192530;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.banner-headline{
  text-align: center;
  margin: auto;
}

.banner-h1{
  font-size: 7.5rem;
  margin:0;
  padding:0;
}

/* -------------------------------------
-- Main content Container Styling ------
----------------------------------------
*/
.main{
  background: #f1f1f1;
  display: flex;
  flex-wrap: wrap;
  width:100%;
}

/* -------------------------------------
-- Navigation Links Styling ------------
----------------------------------------
*/
.navigation{
  flex: 1 1 300px;
  padding: 20px;
  width: 500px;
  margin: 25px 50px;
  background-color: #1f2f3c;
  transition: .3s;
  animation: fadein .3s;
  border: #111921 1px solid;
  box-shadow: #192530 1px 1px 10px;
}

.navigation a{
  display: flex;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  padding-bottom:10px;
}

.navigation h4{
  color: #f1f1f1;
}

.navigation:hover{
  background:#213d54;
  border: 1px solid #192530;
}

.navigation:hover h4{
  text-decoration: #f1f1f1 underline;
}

.nav-img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 1px solid #121c24;
  background-color: #121c24;
}

/* -------------------------------------
-- Body Text Container -----------------
----------------------------------------
*/
.container{
  flex-wrap: wrap;
  padding-top:25px;
  padding-bottom:50px;
}

/* -------------------------------------
-- Example images ----------------------
-- Maren Sandvold ----------------------
----------------------------------------
*/
.images{
  width: 100%;
  margin: 0;
  padding: 0;
}

/* -------------------------------------
-- Project Gallery Container -----------
----------------------------------------
*/
.projects{
  width: 100%;
  padding-bottom: 50px;
}

.project-img{
  width: calc(80% - 2px);
  margin: 0 10%;
  float: left;
  border:1px solid #192530;
}

.project-desc{
  font-family: 'Lobster', sans-serif;
  font-size: 1rem;
  text-align: center;
  padding: 0 25px;
  color: #121c24;
  margin-left:10%;
  margin-right:10%;
}

/* -------------------------------------
-- About Me Info Container -------------
----------------------------------------
*/
.about-me{
  width: 100%;
  padding-bottom: 50px;
}

/* -------------------------------------
-- Game Info Links ----------------------
----------------------------------------
*/
.info-link{
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 1.8rem;
  color:#f1f1f1;
  width: 40%;
  margin:5px 10%;
  padding:5px 25px;
  background-color: #1f2f3c;
  transition: .3s;
  animation: fadein .3s;
  border: #111921 1px solid;
  box-shadow: #192530 1px 1px 10px;
}
.info-link:hover{
  background:#213d54;
  border: 1px solid #192530;
  color: #f1f1f1;
  text-decoration: underline;
}

/* -------------------------------------
-- Contact Info Container --------------
----------------------------------------
*/
.contact-me{
  width:100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
}

/* -------------------------------------
-- Social Links Container --------------
----------------------------------------
*/
.socials-container{
  width:100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
}

/* -------------------------------------
-- Social Links Styling ----------------
----------------------------------------
*/
.social-links{
  width: 40%;
  margin:10px 10%;
  border: #111921 1px solid;
  box-shadow: #192530 1px 1px 10px;
  background-color: #1f2f3c;
  transition: .3s;
  animation: fadein .3s;
}

.social-links h2{
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 2rem;
  color: #f1f1f1;
}

.social-links:hover{
  background:#213d54;
  border: 1px solid #192530;
}

.social-links:hover h2{
  text-decoration: #f1f1f1 underline;
}

/* -------------------------------------
-- Footer Containe----------------------
----------------------------------------
*/
.footer{
  width:100%;
  height: 76px;
  background-color: #121c24;
  border-top: 2px solid #192530;
}

/* -------------------------------------
-- Copyright Info Styling --------------
----------------------------------------
*/
.copyright{
  font-family: 'Oswald', sans-serif;
  font-size: 1.6rem;
  color: #f1f1f1;
  text-shadow: 2px 2px #121c24;
  text-align: center;
  margin: auto;
  padding-top: 16px
}
/* -------------------------------------
-- End of Document ---------------------
--------------------------------------*/